body {
  background-color: #f0f4f8; /* Modern light background */
  font-family: "Poppins", sans-serif;
  color: #333; /* Modern text color */
  margin: 0;
  padding: 0;
}
.w3-margin{margin:16px!important}.w3-margin-top{margin-top:16px!important}.w3-margin-bottom{margin-bottom:16px!important}

.container {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.image-container {
  margin-top: 30px;
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.text-container h2 {
  margin-top: 20px;
  color: #333;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.link {
  min-width: 50%;
  color: white;
  background-color: #4a90e2; /* Modern blue color */
  padding: 12px 20px;
  text-align: center;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #357ab7; /* Darker shade on hover */
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
